body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

  /* Title Styling */
h1 {
    font-family: system-ui, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Adds space between title and map */
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

label {
    margin-left: auto;
}

time, em {
    display: block; /* Ensures they stay on their own line */
}

em {
    color: gray;
    font-style: italic;
}

